<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h5> </h5>

    </div>
    <div class="ibox-content">

        <div class="search-form">
            <form action="" method="get">
                <div class="input-group">
                    <input type="text" placeholder="Busque a un usuario..." name="search" class="form-control input-lg">
                    <div class="input-group-btn">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Buscar
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <div class="project-list">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <td class="project-status">
                        <span class="label label-primary">Active</span>
                        <span class="label label-default">Unactive</span>
                    </td>
                    <td>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam laoreet orci suscipit, bibendum erat laoreet, tristique odio. Ut nec condimentum sapien, id
                    </td>
                    <td class="project-actions">

                        <a href=""  class="btn btn-white btn-sm"><i class="fa fa-eraser"></i> Eliminar</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
