<div class="ibox float-e-margins">
    <div class="ibox-title">

    </div>
    <div class="ibox-content">
        <form method="post" class="form-horizontal" id="crearestudiante">

            <div class="form-group"><label class="col-sm-2 control-label">Nombre:</label>

                <div class="col-sm-10"><input name="nombre" type="text" class="form-control" id="nombre" placeholder="algun nombre ..."></div>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Apellido:</label>

                <div class="col-sm-10"><input name="apellido" type="text" class="form-control" id="apellido" placeholder="algun apellido ..."></div>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Nombre de usuario:</label>

                <div class="col-sm-10"><input name="username" type="text" class="form-control" id="username" placeholder="algun nombre de usuario ..."></div>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-10"><input name="email" type="email" class="form-control" id="email" placeholder="local@tutorapp.com"></div>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Password:</label>

                <div class="col-sm-10">

                    <div class="input-group"><input name="password" type="text" class="form-control" id="password" value="{{password}}"><span class="input-group-btn">
                        <button type="button" class="btn btn-primary" id="hide"><i class="fa fa-eye-slash" aria-hidden="true"></i></button> </span></div>
                </div>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Seleccione el genero de usuario:</label>
                <div class="col-sm-10">
                    {{{genero 'form-control m-b'}}}
                </div>
            </div>

            <div class="form-group"><label class="col-sm-2 control-label">Seleccione el estado del usuario:</label>
                <div class="col-sm-10">
                    {{{status 'form-control m-b'}}}
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-4 col-sm-offset-2">
                    <!--<button class="btn btn-primary" type="submit">Guardar</button>-->
                    <input type="button" class="btn btn-primary" id="guardar" value="Guardar"/>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {

        $('#hide').on('click', function() {
            var $inp = $('#password');
            $inp.attr('type') === 'password' ?
                    $inp.attr('type', 'text')
                    : $inp.attr('type', 'password')
        });

        $('#crearestudiante').validate({
            rules: {
                nombre:"required",
                username:"required",
                email: {
                    required: true,
                    email: true
                },
                password: {
                    required: true,
                    minlength: 5
                }
            },

            messages: {
                nombre: "Porfavor ingrese el nombre",
                username: "Porfavor ingrese el username",
                password: {
                    required: "Porfavor ingrese una contraseña",
                    minlength: "su contraseña debe de poseer más de 5 caracteres"
                },
                email: "Porfavor ingrese un email"
            }
        });

        $("#guardar").click(function() {
            //event.preventDefault();
            $('#crearestudiante').valid();
            var form = $('form').serialize();
            //console.log(form);
            $.post("/admin/estudiante/crear", form, function (data, status, xhr) {
                console.log(xhr.responseText);
                if(xhr.responseText == "ok"){
                    swal("OK!", "Formulario procesado correctamente", "success");
                }
                if(xhr.responseText == "error"){
                    swal({
                        title: "Error!",
                        text: "No se han completado los datos",
                        type: "error",
                        confirmButtonText: "ok"
                    });
                }
            }).done(function() {
                //alert( "second success" );
                $("form").trigger("reset");
            }).fail(function() {
                swal({
                    title: "Error!",
                    text: "Al procesar el formulario",
                    type: "error",
                    confirmButtonText: "ok"
                });
            }).always(function() {
                //    alert( "finished" );
            });
        });
    });

</script>