<div class="ibox float-e-margins">
    <div class="ibox-content">
        {{title}}
        <div class="search-form">
            <form action="index.html" method="get">
                <div class="input-group">
                    <input type="text" placeholder="Busque a un usuario..." name="search" class="form-control input-lg">
                    <div class="input-group-btn">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Buscar
                        </button>
                    </div>
                </div>

            </form>
        </div>
        <div class="hr-line-dashed"></div>

    </div>
</div>