<div class="row m-b-lg m-t-lg">
                <div class="col-md-6">

                    <div class="profile-element">
                        <img src="/img/{{img}}" class="img-circle circle-border m-b-md" alt="profile">
                    </div>
                    <div class="profile-info">
                        <div class="">
                            <div>
                                <h2 class="no-margins">
                                    {{username}}
                                </h2>
                                <h4>{{userType}}</h4>
                                <small>
                                    There are many variations of passages of Lorem Ipsum available, but the majority
                                    have suffered alteration in some form Ipsum available.
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>