<!DOCTYPE html>
<html ng-app="quizApp">
<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <base href="/quiz">
    <meta name="referrer" content="no-referrer" />
    <meta name="robots" content="noindex,nofollow" />
    <link href="/css/dist/d278b0f1-3b5c-4105-bace-e6d212bd981b76-784457-4532-4ebc-9ee4-807971a93446.min.css?v=1.0.0" rel="stylesheet" />
    <script src="/js/dist/d278b0f1-3b5c-4105-bace-e6d212bd981b76-784457-4532-4ebc-9ee4-807971a93446.min.js?v=1.0.0"></script>
</head>
<body>
<div class="container">
    <div ng-view></div>
</div>
</body>
</html>
