<div class="ibox float-e-margins">
    <div class="ibox-content">
        {{title}}
        <div class="search-form">
            <form method="get">
                <div class="input-group">
                    <input type="text" placeholder="Busque que desea eliminar..." name="buscar" class="form-control input-lg">
                    <div class="input-group-btn">
                        <button class="btn btn-lg btn-primary" type="submit">
                            Buscar
                        </button>
                    </div>
                </div>

            </form>
        </div>
        <div class="hr-line-dashed"></div>
        <!--<div class="search-result">
            <h3><a href="#">INSPINIA IN+ Admin Theme</a></h3>
            <a href="#" class="search-link">www.inspinia.com/inspinia</a>
            <p>
                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text
                <button type="button" class="btn btn-w-m btn-warning">Eliminar</button>
            </p>
        </div>-->
    </div>
</div>